<!doctype html>
<html lang="en" >
<head>
<meta charset="utf-8">
<title>Pleasant Tours</title>

<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<link rel="stylesheet" type="text/css" href="css/indexcss.css">

<link type="text/javascript" href="js/indexjs.js">

<link type="text/javascript" href="js/login.js">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<link rel="stylesheet" type="text/css" href="css/headfoot.css">

<link rel="stylesheet" type="text/css" href="css/login.css">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Lobster&display=swap" rel="stylesheet">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>


<script type="text/javascript">
var myApp = angular.module('sampleapp', [])
myApp.controller("expressionController", function ($scope) {
});
</script>


</head>

<body>



<nav class="navbar  justify-content-end navbar-expand-lg fixed-top header" >
  <div class="container-fluid">
    <a class="navbar-brand" href="index.html">
      <img class="logo horizontal-logo" src="image/logo.PNG" height="80" alt="logo">
    </a>
    
    <button class="navbar-toggler navbar-light"  type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" >
      <span class="navbar-toggler-icon" ></span>
    </button>
    <div class="collapse navbar-collapse"  id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link anch" href="index.html">Home</a>
        </li>
        <li class="nav-item dropdown ">
          <a class="nav-link dropdown-toggle anch" href="#" id="navbarDropdown1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Tours
          </a>
          <div class="dropdown-menu " style="background-color:white"  aria-labelledby="navbarDropdown1">
            <a class="dropdown-item" style="color:#000" href="beaches.html">Beaches</a>
            <a class="dropdown-item" style="color:#000" href="forts.html">Forts/Palaces</a>
            <a class="dropdown-item" style="color:#000" href="hillstations.html">Hill Stations</a>
            <a class="dropdown-item" style="color:#000" href="international.html">International</a>
            <a class="dropdown-item" style="color:#000" href="islands.html">Islands</a>
            <a class="dropdown-item" style="color:#000" href="mountains.html">Mountains</a>
            <a class="dropdown-item" style="color:#000" href="world_heritage.html">World Heritage</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link anch" href="gallery.html">Gallery</a>
        </li>
        <li class="nav-item dropdown ">
          <a class="nav-link dropdown-toggle anch" href="#" id="navbarDropdown1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Price List
          </a>
          <div class="dropdown-menu " style="background-color:white"  aria-labelledby="navbarDropdown1">
            <a class="dropdown-item anch2"  href="documents/PleasantToursPriceList.docx">Download</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link anch" href="contactus.html">Contact Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link anch" href="" data-toggle="modal" data-target="#loginModal">Log In</a>
        </li>
        <li class="nav-item">
          <a class="nav-link anch" href="signup.html">Sign Up</a>
        </li>
       
      </ul>
      
       <form onsubmit="event.preventDefault()" class="form-inline my-2 my-lg-0"> <input class="form-control mr-sm-2" type="text" placeholder="Search"> <button style="background-color:#287094" class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button> </form>
      
    </div>
  </div>
</nav>








<div style="background-color:white" id="carouselExampleIndicators" class="carousel slide carousel-fade s3" data-interval="4000" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="5"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="6"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="8"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="10"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="11"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="12"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="13"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="14"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="16"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="17"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="18"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="19"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100" style="height:700px" src="image/ss6.jpg" alt=" slide">
       <div class="carousel-caption d-md-block">
    <h2>The world is a book and those who do not travel read only one page.</h2>
  </div>
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" style="height:700px" src="image/ss13.jpg" alt=" slide">
      <div class="carousel-caption   d-md-block">
    <h2>Traveling – it leaves you speechless, then turns you into a storyteller.</h2>
  </div>
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" style="height:700px" src="image/ss2.jpg" alt=" slide">
      <div class="carousel-caption   d-md-block">
    <h2>A journey is best measured in friends, rather than miles.</h2>
  </div>
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" style="height:700px" src="image/ss4.jpg" alt=" slide">
      <div class="carousel-caption   d-md-block">
    <h2>Travel isn’t always pretty. It isn’t always comfortable. Sometimes it hurts, it even breaks your heart. But that’s okay. The journey changes you; it should change you.</h2>
  </div>
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" style="height:700px" src="image/ss5.jpg" alt=" slide">
      <div class="carousel-caption   d-md-block">
    <h2>Travel makes one modest. You see what a tiny place you occupy in the world.</h2>
  </div>
    </div>
     <div class="carousel-item">
      <img class="d-block w-100" style="height:700px" src="image/ss3.jpg" alt=" slide">
      <div class="carousel-caption   d-md-block">
    <h2>To awaken alone in a strange town is one of the pleasantest sensations in the world.</h2>
  </div>
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" style="height:700px" src="image/ss12.jpg" alt=" slide">
      <div class="carousel-caption   d-md-block">
    <h2>A great way to learn about your country is to leave it.</h2>
  </div>
    </div>
   
    
    <div class="carousel-item">
      <img class="d-block w-100" style="height:700px" src="image/ss14.jpg" alt=" slide">
      <div class="carousel-caption   d-md-block">
    <h2>There was nowhere to go but everywhere, so just keep on rolling under the stars.</h2>
  </div>
    </div>
    
    
    <div class="carousel-item">
      <img class="d-block w-100" style="height:700px" src="image/ss17.jpg" alt=" slide">
      <div class="carousel-caption   d-md-block">
    <h2>Tourists don’t know where they’ve been, travelers don’t know where they’re going.</h2>
  </div>
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" style="height:700px" src="image/ss32.jpg" alt=" slide">
      <div class="carousel-caption   d-md-block">
    <h2>Life is either a daring adventure or nothing at all.</h2>
  </div>
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" style="height:700px" src="image/ss8.jpg" alt=" slide">
      <div class="carousel-caption   d-md-block">
    <h2>If you think adventure is dangerous, try routine, it’s lethal.</h2>
  </div>
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" style="height:700px" src="image/ss7.jpg" alt=" slide">
      <div class="carousel-caption   d-md-block">
    <h2>Travel doesn’t become adventure until you leave yourself behind.</h2>
  </div>
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" style="height:700px" src="image/ss27.jpg" alt=" slide">
      <div class="carousel-caption   d-md-block">
    <h2>Climb the mountain so you can see the world, not so the world can see you.</h2>
  </div>
    </div>
   
    <div class="carousel-item">
      <img class="d-block w-100" style="height:700px" src="image/ss19.jpg" alt=" slide">
      <div class="carousel-caption   d-md-block">
    <h2>The journey of a thousand miles begins with a single step.</h2>
  </div>
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" style="height:700px" src="image/ss37.jpg" alt=" slide">
      <div class="carousel-caption   d-md-block">
    <h2>The use of traveling is to regulate imagination with reality, and instead of thinking of how things may be, see them as they are.</h2>
  </div>
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" style="height:700px" src="image/ss24.jpg" alt=" slide">
      <div class="carousel-caption   d-md-block">
    <h2>Better to see something once than hear about it a thousand times.</h2>
  </div>
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" style="height:700px" src="image/ss25.jpg" alt=" slide">
      <div class="carousel-caption   d-md-block">
    <h2>Stuff your eyes with wonder, live as if you’d drop dead in ten seconds. See the world. It’s more fantastic than any dream made or paid for in factories.</h2>
  </div>
    </div>
    
    
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>





<div data-ng-app="sampleapp" data-ng-controller="expressionController" ng-init="myVar='a'" >

<div class="box1 container">
<center>
<ul  class="dnow">
  <li>
    <input type="radio" id="a25" ng-model="myVar" value="a"  name="amount" />
    <label for="a25">All</label>
  </li>
  <li>
    <input type="radio" id="a50" ng-model="myVar" value="b" name="amount" />
    <label for="a50">International</label>
  </li>
  <li>
    <input type="radio" id="a75" ng-model="myVar" value="c"  name="amount"  />
    <label for="a75">Beaches</label>
  </li>
  <li>
    <input type="radio" id="a100" ng-model="myVar" value="d"  name="amount" />
    <label for="a100">Forts/Palaces</label>
  </li>
  <li>
    <input type="radio" id="a110" ng-model="myVar" value="e"  name="amount" />
    <label for="a110">Hill Stations</label>
  </li>
  <li>
    <input type="radio" id="a120" ng-model="myVar" value="f"  name="amount" />
    <label for="a120">Mountains</label>
  </li>
  <li>
    <input type="radio" id="a130" ng-model="myVar" value="g" name="amount" />
    <label for="a130">Islands</label>
  </li>
   <li>
    <input type="radio" id="a140" ng-model="myVar" value="h" name="amount" />
    <label for="a140">World Heritage</label>
  </li>
  
</ul>
</center>
</div>
<br>
<br>


<div ng-switch="myVar">
<br>

<div ng-switch-when="a" id="myall">

<div class="container-fluid international">

<center><a style="text-decoration:none" href="international.html"><h1>International Tours</h1></a></center>
<br>

<div class="row s3">

<div class="col-md-3 col-sm-3 s4 "><a style="text-decoration:none"  href="international.html#russia">
<CENTER><img src="image/international4.jpg" class="img-fluid " alt="Responsive image"><h3>Russia</h3>
<p>300,000pkr per person</p></CENTER>
</a>
</div>

<div class="col-md-3 col-sm-3 s4"><a style="text-decoration:none"  href="international.html#japan">
<center><img src="image/international1.jpg" class="img-fluid" alt="Responsive image"><h3>Japan</h3>
<p>400,000pkr per person</p></center>
</a>
</div>

<div class="col-md-3 col-sm-3 s4"><a style="text-decoration:none"  href="international.html#uk">
<CENTER><img src="image/international3.jpg" class="img-fluid" alt="Responsive image"><h3>UK</h3>
<p>360,000pkr per person</p></CENTER>
</a>
</div>

<div class="col-md-3 col-sm-3 s4"><a style="text-decoration:none"  href="international.html#turkey">
<center><img src="image/international2.jpg" class="img-fluid" alt="Responsive image"><h3>Turkey</h3>
<p>280,000pkr per person</p></center>
</a>
</div>

</div>

<center><a class="anch"  href="international.html"><p>See More</p></a></center>
<br>
<br>

</div>


<div class="container-fluid beach">

<center><a style="text-decoration:none"  href="beaches.html"><h1>Beaches Tours</h1></a></center>
<br>

<div class="row s3">

<div class="col-md-3 col-sm-3 s4"><a style="text-decoration:none"  href="beaches.html#mubarak">
<CENTER><img src="image/beach1.jpg" class="img-fluid" alt="Responsive image"><h3>Mubarak Village</h3>
<p>8,000pkr per person</p></CENTER>
</a>
</div>

<div class="col-md-3 col-sm-3 s4"><a style="text-decoration:none"  href="beaches.html#ormara">
<center><img src="image/beach2.jpg" class="img-fluid" alt="Responsive image"><h3>Ormara Turtle Beach</h3>
<p>12,000pkr per person</p></center>
</a>
</div>

<div class="col-md-3 col-sm-3 s4"><a style="text-decoration:none"  href="beaches.html#french">
<CENTER><img src="image/beach3.jpg" class="img-fluid" alt="Responsive image"><h3>French Beach</h3>
<p>3,000pkr per person</p></CENTER>
</a>
</div>

<div class="col-md-3 col-sm-3 s4"><a style="text-decoration:none"  href="beaches.html#jiwani">
<center><img src="image/beach4.jpg" class="img-fluid" alt="Responsive image"><h3>Jiwani Bay</h3>
<p>16,000pkr per person</p></center>
</a>
</div>
	
</div>

<center><a style="text-decoration:none"  class="anch"  href="beaches.html"><p>See More</p></a></center>
<br>
<br>

</div>


<div class="container-fluid fort">

<center><a style="text-decoration:none"  href="forts.html"><h1>Forts/Palaces Tours</h1></a></center>
<br>

<div class="row s3">

<div class="col-md-3 col-sm-3 s4"><a style="text-decoration:none"  href="forts.html#gulzar">
<CENTER><img src="image/fort2.jpg" class="img-fluid" alt="Responsive image"><h3>Gulzar Palace</h3>
<p>10,000pkr per person</p></CENTER>
</a>
</div>

<div class="col-md-3 col-sm-3 s4"><a style="text-decoration:none"  href="forts.html#mohatta">
<center><img src="image/fort1.jpg" class="img-fluid" alt="Responsive image"><h3>Mohatta Palace</h3>
<p>1,000pkr per person</p></center>
</a>
</div>

<div class="col-md-3 col-sm-3 s4"><a style="text-decoration:none"  href="forts.html#ramkot">
<CENTER><img src="image/fort4.jpg" class="img-fluid" alt="Responsive image"><h3>Ramkot Fort</h3>
<p>14,000pkr per person</p></CENTER>
</a>
</div>

<div class="col-md-3 col-sm-3 s4"><a style="text-decoration:none"  href="forts.html#rohtas">
<center><img src="image/fort3.jpg" class="img-fluid" alt="Responsive image"><h3>Rohtas Fort</h3>
<p>12,000pkr per person</p></center>
</a>
</div>

</div>

<br>
<br>

</div>


<div class="container-fluid hill">


<center><a style="text-decoration:none"  href="hillstations.html"><h1>Hill Stations Tours</h1></a></center>
<br>

<div class="row s3">

<div class="col-md-3 col-sm-3 s4"><a style="text-decoration:none"  href="hillstations.html#chitral">
<CENTER><img src="image/hill1.jpg" class="img-fluid" alt="Responsive image"><h3>Chitral</h3>
<p>20,000pkr per person</p></CENTER>
</a>
</div>

<div class="col-md-3 col-sm-3 s4"><a  style="text-decoration:none" href="hillstations.html#gilgit">
<center><img src="image/hill2.jpg" class="img-fluid" alt="Responsive image"><h3>Gilgit</h3>
<p>18,000pkr per person</p></center>
</a>
</div>

<div class="col-md-3 col-sm-3 s4"><a style="text-decoration:none"  href="hillstations.html#skardu">
<CENTER><img src="image/hill3.jpg" class="img-fluid" alt="Responsive image"><h3>Skardu</h3>
<p>22,000pkr per person</p></CENTER>
</a>
</div>

<div class="col-md-3 col-sm-3 s4"><a style="text-decoration:none"  href="hillstations.html#hunza">
<center><img src="image/hill4.jpg" class="img-fluid" alt="Responsive image"><h3>Hunza</h3>
<p>25,000pkr per person</p></center>
</a>
</div>

</div>

<center><a  class="anch" href="hillstations.html"><p>See More</p></a></center>
<br>
<br>

</div>


<div class="container-fluid mountain">

<center><a  style="text-decoration:none" href="mountains.html"><h1>Mountains Tours</h1></a></center>
<br>

<div class="row s3">

<div class="col-md-3 col-sm-3 s4"><a style="text-decoration:none"  href="mountains.html#k2">
<CENTER><img src="image/mount1.jpg" class="img-fluid" alt="Responsive image"><h3>K2</h3>
<p>250,000pkr per person</p></CENTER>
</a>
</div>

<div class="col-md-3 col-sm-3 s4"><a style="text-decoration:none"  href="mountains.html#nanga">
<center><img src="image/mount2.jpg" class="img-fluid" alt="Responsive image"><h3>Nanga Parbat</h3>
<p>120,000pkr per person</p></center>
</a>
</div>

<div class="col-md-3 col-sm-3 s4"><a style="text-decoration:none"  href="mountains.html#margalla">
<CENTER><img src="image/mount3.jpg" class="img-fluid" alt="Responsive image"><h3>Margalla Hills</h3>
<p>20,000pkr per person</p></CENTER>
</a>
</div>

<div class="col-md-3 col-sm-3 s4"><a style="text-decoration:none"  href="mountains.html#rakaposhi">
<center><img src="image/mount4.jpg" class="img-fluid" alt="Responsive image"><h3>Rakaposhi</h3>
<p>140,000pkr per person</p></center>
</a>
</div>

</div>


<br>
<br>


</div>









<div class="container-fluid island">

<center><a style="text-decoration:none"  href="islands.html"><h1>Islands Tours</h1></a></center>
<br>

<div class="row s3">

<div class="col-md-3 col-sm-3 s4"><a style="text-decoration:none"  href="islands.html#astola">
<CENTER><img src="image/island4.jpg" class="img-fluid" alt="Responsive image"><h3>Astola Island</h3>
<p>18,000pkr per person</p></CENTER>
</a>
</div>

<div class="col-md-3 col-sm-3 s4"><a style="text-decoration:none"  href="islands.html#charna">
<center><img src="image/island1.jpg" class="img-fluid" alt="Responsive image"><h3>Charna Island</h3>
<p>10,000pkr per person</p></center>
</a>
</div>

<div class="col-md-3 col-sm-3 s4"><a  style="text-decoration:none" href="islands.html#manora">
<CENTER><img src="image/island3.jpg" class="img-fluid" alt="Responsive image"><h3>Manora Island</h3>
<p>6,000pkr per person</p></CENTER>
</a>
</div>

<div class="col-md-3 col-sm-3 s4"><a  style="text-decoration:none" href="islands.html#bundle">
<center><img src="image/island2.jpg" class="img-fluid" alt="Responsive image"><h3>Bundle Island</h3>
<p>6,000pkr per person</p></center>
</a>
</div>

</div>

<center><a class="anch"  href="islands.html"><p>See More</p></a></center>
<br>
<br>


</div>


<div class="container-fluid world">

<center><a style="text-decoration:none"  href="world_heritage.html"><h1>World Heritage Tours</h1></a></center>
<br>

<div class="row s3">

<div class="col-md-3 col-sm-3 s4"><a style="text-decoration:none"  href="world_heritage.html#mohenjo">
<CENTER><img src="image/wh4.jpg" class="img-fluid" alt="Responsive image"><h3>Mohenjo-daro</h3>
<p>10,000pkr per person</p></CENTER>
</a>
</div>

<div class="col-md-3 col-sm-3 s4"><a style="text-decoration:none"  href="world_heritage.html#lahore">
<center><img src="image/wh1.jpg" class="img-fluid" alt="Responsive image"><h3>Lahore Fort</h3>
<p>16,000pkr per person</p></center>
</a>
</div>

<div class="col-md-3 col-sm-3 s4"><a  style="text-decoration:none" href="world_heritage.html#thatta">
<CENTER><img src="image/wh3.jpg" class="img-fluid" alt="Responsive image"><h3>Thatta</h3>
<p>2,000pkr per person</p></CENTER>
</a>
</div>

<div class="col-md-3 col-sm-3 s4"><a style="text-decoration:none"  href="world_heritage.html#takht">
<center><img src="image/wh2.jpg" class="img-fluid" alt="Responsive image"><h3>Takht-i-Bahi</h3>
<p>18,000pkr per person</p></center>
</a>
</div>

</div>

<br>
<br>

</div>

</div>

































<div class="container-fluid"  >

<br>

<div ng-switch-when="b"  class="container-fluid international">

<center><a style="text-decoration:none" href="international.html"><h1>International Tours</h1></a></center>
<br>

<div class="row s3">

<div class="col-md-3 col-sm-3 s4 "><a style="text-decoration:none"  href="international.html#russia">
<CENTER><img src="image/international4.jpg" class="img-fluid " alt="Responsive image"><h3>Russia</h3>
<p>300,000pkr per person</p></CENTER>
</a>
</div>

<div class="col-md-3 col-sm-3 s4"><a style="text-decoration:none"  href="international.html#japan">
<center><img src="image/international1.jpg" class="img-fluid" alt="Responsive image"><h3>Japan</h3>
<p>400,000pkr per person</p></center>
</a>
</div>

<div class="col-md-3 col-sm-3 s4"><a style="text-decoration:none"  href="international.html#uk">
<CENTER><img src="image/international3.jpg" class="img-fluid" alt="Responsive image"><h3>UK</h3>
<p>360,000pkr per person</p></CENTER>
</a>
</div>

<div class="col-md-3 col-sm-3 s4"><a style="text-decoration:none"  href="international.html#turkey">
<center><img src="image/international2.jpg" class="img-fluid" alt="Responsive image"><h3>Turkey</h3>
<p>280,000pkr per person</p></center>
</a>
</div>

</div>

<center><a class="anch"  href="international.html"><p>See More</p></a></center>
<br>
<br>

</div>


<div ng-switch-when="c"  class="container-fluid beach">

<center><a style="text-decoration:none"  href="beaches.html"><h1>Beaches Tours</h1></a></center>
<br>

<div class="row s3">

<div class="col-md-3 col-sm-3 s4"><a style="text-decoration:none"  href="beaches.html#mubarak">
<CENTER><img src="image/beach1.jpg" class="img-fluid" alt="Responsive image"><h3>Mubarak Village</h3>
<p>8,000pkr per person</p></CENTER>
</a>
</div>

<div class="col-md-3 col-sm-3 s4"><a style="text-decoration:none"  href="beaches.html#ormara">
<center><img src="image/beach2.jpg" class="img-fluid" alt="Responsive image"><h3>Ormara Turtle Beach</h3>
<p>12,000pkr per person</p></center>
</a>
</div>

<div class="col-md-3 col-sm-3 s4"><a style="text-decoration:none"  href="beaches.html#french">
<CENTER><img src="image/beach3.jpg" class="img-fluid" alt="Responsive image"><h3>French Beach</h3>
<p>3,000pkr per person</p></CENTER>
</a>
</div>

<div class="col-md-3 col-sm-3 s4"><a style="text-decoration:none"  href="beaches.html#jiwani">
<center><img src="image/beach4.jpg" class="img-fluid" alt="Responsive image"><h3>Jiwani Bay</h3>
<p>16,000pkr per person</p></center>
</a>
</div>
	
</div>

<center><a style="text-decoration:none"  class="anch"  href="beaches.html"><p>See More</p></a></center>
<br>
<br>

</div>


<div ng-switch-when="d"  class="container-fluid fort">

<center><a style="text-decoration:none"  href="forts.html"><h1>Forts/Palaces Tours</h1></a></center>
<br>

<div class="row s3">

<div class="col-md-3 col-sm-3 s4"><a style="text-decoration:none"  href="forts.html#gulzar">
<CENTER><img src="image/fort2.jpg" class="img-fluid" alt="Responsive image"><h3>Gulzar Palace</h3>
<p>10,000pkr per person</p></CENTER>
</a>
</div>

<div class="col-md-3 col-sm-3 s4"><a style="text-decoration:none"  href="forts.html#mohatta">
<center><img src="image/fort1.jpg" class="img-fluid" alt="Responsive image"><h3>Mohatta Palace</h3>
<p>1,000pkr per person</p></center>
</a>
</div>

<div class="col-md-3 col-sm-3 s4"><a style="text-decoration:none"  href="forts.html#ramkot">
<CENTER><img src="image/fort4.jpg" class="img-fluid" alt="Responsive image"><h3>Ramkot Fort</h3>
<p>14,000pkr per person</p></CENTER>
</a>
</div>

<div class="col-md-3 col-sm-3 s4"><a style="text-decoration:none"  href="forts.html#rohtas">
<center><img src="image/fort3.jpg" class="img-fluid" alt="Responsive image"><h3>Rohtas Fort</h3>
<p>12,000pkr per person</p></center>
</a>
</div>

</div>

<br>
<br>

</div>


<div ng-switch-when="e"  class="container-fluid hill">


<center><a style="text-decoration:none"  href="hillstations.html"><h1>Hill Stations Tours</h1></a></center>
<br>

<div class="row s3">

<div class="col-md-3 col-sm-3 s4"><a style="text-decoration:none"  href="hillstations.html#chitral">
<CENTER><img src="image/hill1.jpg" class="img-fluid" alt="Responsive image"><h3>Chitral</h3>
<p>20,000pkr per person</p></CENTER>
</a>
</div>

<div class="col-md-3 col-sm-3 s4"><a  style="text-decoration:none" href="hillstations.html#gilgit">
<center><img src="image/hill2.jpg" class="img-fluid" alt="Responsive image"><h3>Gilgit</h3>
<p>18,000pkr per person</p></center>
</a>
</div>

<div class="col-md-3 col-sm-3 s4"><a style="text-decoration:none"  href="hillstations.html#skardu">
<CENTER><img src="image/hill3.jpg" class="img-fluid" alt="Responsive image"><h3>Skardu</h3>
<p>22,000pkr per person</p></CENTER>
</a>
</div>

<div class="col-md-3 col-sm-3 s4"><a style="text-decoration:none"  href="hillstations.html#hunza">
<center><img src="image/hill4.jpg" class="img-fluid" alt="Responsive image"><h3>Hunza</h3>
<p>25,000pkr per person</p></center>
</a>
</div>

</div>

<center><a  class="anch" href="hillstations.html"><p>See More</p></a></center>
<br>
<br>

</div>


<div ng-switch-when="f"  class="container-fluid mountain">

<center><a  style="text-decoration:none" href="mountains.html"><h1>Mountains Tours</h1></a></center>
<br>

<div class="row s3">

<div class="col-md-3 col-sm-3 s4"><a style="text-decoration:none"  href="mountains.html#k2">
<CENTER><img src="image/mount1.jpg" class="img-fluid" alt="Responsive image"><h3>K2</h3>
<p>250,000pkr per person</p></CENTER>
</a>
</div>

<div class="col-md-3 col-sm-3 s4"><a style="text-decoration:none"  href="mountains.html#nanga">
<center><img src="image/mount2.jpg" class="img-fluid" alt="Responsive image"><h3>Nanga Parbat</h3>
<p>120,000pkr per person</p></center>
</a>
</div>

<div class="col-md-3 col-sm-3 s4"><a style="text-decoration:none"  href="mountains.html#margalla">
<CENTER><img src="image/mount3.jpg" class="img-fluid" alt="Responsive image"><h3>Margalla Hills</h3>
<p>20,000pkr per person</p></CENTER>
</a>
</div>

<div class="col-md-3 col-sm-3 s4"><a style="text-decoration:none"  href="mountains.html#rakaposhi">
<center><img src="image/mount4.jpg" class="img-fluid" alt="Responsive image"><h3>Rakaposhi</h3>
<p>140,000pkr per person</p></center>
</a>
</div>

</div>


<br>
<br>


</div>









<div  ng-switch-when="g"  class="container-fluid island">

<center><a style="text-decoration:none"  href="islands.html"><h1>Islands Tours</h1></a></center>
<br>

<div class="row s3">

<div class="col-md-3 col-sm-3 s4"><a style="text-decoration:none"  href="islands.html#astola">
<CENTER><img src="image/island4.jpg" class="img-fluid" alt="Responsive image"><h3>Astola Island</h3>
<p>18,000pkr per person</p></CENTER>
</a>
</div>

<div class="col-md-3 col-sm-3 s4"><a style="text-decoration:none"  href="islands.html#charna">
<center><img src="image/island1.jpg" class="img-fluid" alt="Responsive image"><h3>Charna Island</h3>
<p>10,000pkr per person</p></center>
</a>
</div>

<div class="col-md-3 col-sm-3 s4"><a  style="text-decoration:none" href="islands.html#manora">
<CENTER><img src="image/island3.jpg" class="img-fluid" alt="Responsive image"><h3>Manora Island</h3>
<p>6,000pkr per person</p></CENTER>
</a>
</div>

<div class="col-md-3 col-sm-3 s4"><a  style="text-decoration:none" href="islands.html#bundle">
<center><img src="image/island2.jpg" class="img-fluid" alt="Responsive image"><h3>Bundle Island</h3>
<p>6,000pkr per person</p></center>
</a>
</div>

</div>

<center><a class="anch"  href="islands.html"><p>See More</p></a></center>
<br>
<br>


</div>


<div ng-switch-when="h"  class="container-fluid world">

<center><a style="text-decoration:none"  href="world_heritage.html"><h1>World Heritage Tours</h1></a></center>
<br>

<div class="row s3">

<div class="col-md-3 col-sm-3 s4"><a style="text-decoration:none"  href="world_heritage.html#mohenjo">
<CENTER><img src="image/wh4.jpg" class="img-fluid" alt="Responsive image"><h3>Mohenjo-daro</h3>
<p>10,000pkr per person</p></CENTER>
</a>
</div>

<div class="col-md-3 col-sm-3 s4"><a style="text-decoration:none"  href="world_heritage.html#lahore">
<center><img src="image/wh1.jpg" class="img-fluid" alt="Responsive image"><h3>Lahore Fort</h3>
<p>16,000pkr per person</p></center>
</a>
</div>

<div class="col-md-3 col-sm-3 s4"><a  style="text-decoration:none" href="world_heritage.html#thatta">
<CENTER><img src="image/wh3.jpg" class="img-fluid" alt="Responsive image"><h3>Thatta</h3>
<p>2,000pkr per person</p></CENTER>
</a>
</div>

<div class="col-md-3 col-sm-3 s4"><a style="text-decoration:none"  href="world_heritage.html#takht">
<center><img src="image/wh2.jpg" class="img-fluid" alt="Responsive image"><h3>Takht-i-Bahi</h3>
<p>18,000pkr per person</p></center>
</a>
</div>

</div>

<br>
<br>

</div>


</div>




</div>




































































<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header border-bottom-0">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-title text-center">
          <h4>Login</h4>
        </div>
        <div class="d-flex flex-column text-center">
          <form>
            <div class="form-group">
              <input type="email" class="form-control" id="email1"placeholder="Your email address...">
            </div>
            <div class="form-group">
              <input type="password" class="form-control" id="password1" placeholder="Your password...">
            </div>
            <button type="button" class="btn btn-info btn-block btn-round" data-toggle="modal" data-target="#exampleModal123">Login</button>
          </form>
          
         
          <div class="d-flex justify-content-center social-buttons">
           
          </di>
        </div>
      </div>
    </div>
      <div class="modal-footer d-flex justify-content-center">
        <div class="signup-section">Not a member yet? <a href="signup.html" class="text-info"> Sign Up</a>.</div>
      </div>
  </div>
</div>
</div>




</div>






<div class="modal fade" id="exampleModal123" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5  style="color:#000" class="modal-title" id="exampleModalLabel">Congratulations You Have Signed In Successfully</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Now Enjoy Our Website
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal">Save changes</button>
      </div>
    </div>
  </div>
</div>




<br>
<br>






















<div class="jumbotron text-center footer" style="margin-bottom:0; ">
  <p >Copyright &copy; 2021</p>
  <a class="anch" href="contactus.html">Contact Us</a>
 

</div>













</body>
</html>
